.Settings {
    background: #e8e7eb;
    height: 64px;
}

.Settings__form {
    flex-direction: row;
    display: flex;
    padding: 8px;
}

.Settings__fontSizeSlider {
    width: 30%;
    margin-top: 3px;
    margin-left: 24px;
}

.Settings__fontFilter {
}

.Settings__letterSpacingSlider {
    width: 10%;
    margin-top: 3px;
    margin-left: 24px;
}
