@font-face {
    font-family: 'mass_effect_123regular';
    src: url('fonts/me123-webfont.woff2') format('woff2'),
         url('fonts/me123-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
